* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: calc(100vh - 110px);
    min-width: 1228px;
    font-family: "Lato", sans-serif;
    font-size: 11pt;
    line-height: 1.428571429;
    color: #666666;
    overflow: auto;
    width: 100%;
}

a:-webkit-any-link {
    text-decoration: none;
}

a {
    color: #0DB14B;
}

.toggle-hide {
    display: none;
}

label {
    display: inline-block;
    max-width: 100%;
    font-size: 11pt;
    margin-bottom: 5px;
    font-weight: bold;
}

label.label-required:after {
    content: ' *';
    color: #dc3545;
}

.title-header {
    background-color: #666666;
    color: aliceblue;
    border-radius: 10px;
    padding: 0 2rem;
    margin-top: 5px;
    margin-bottom: 5px;
}

hr {
    margin-top: 0;
    width: 100%;
    background-color: #c4c4c4;
}

h4.module-title {
    color: #666666;
    margin-bottom: 20px;
    font-weight: bold;
}

h6 {
    color: #666666;
    font-weight: bold;
}

h6.form-header {
    margin-top: 1.8rem;
}

input, select {
    border: solid 1px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

fieldset {
    padding: 12px;
    border-radius: 6px;
    border: solid 1px #0DB14B;
}

.app-container {
    padding-right: 8px;
    padding-left: 8px;
    margin-bottom: 35px;
}

.group {
    margin-top: 0.5rem;
}

.primary {
    height: 30px;
    width: 100%;
    min-width: 0;
    padding: 0 0.75rem;
    font-size: 16px;
    border-color: rgba(8, 239, 0, 0.45);
}

.primary:focus {
    -webkit-box-shadow: 0 0 0 3px rgba(40, 239, 0, 0.45);
    box-shadow: 0 0 0 3px rgba(28, 239, 0, 0.45);
}

.flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-1,
.cell-1 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 4.166666666666667%;
    flex: 0 0 4.166666666666667%;
    max-width: 4.166666666666667%;
}

.flex-2,
.cell-2 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 8.333333333333334%;
    flex: 0 0 8.333333333333334%;
    max-width: 8.333333333333334%;
}

.flex-3,
.colspan-3,
.cell-3 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
}

.flex-4,
.colspan-4,
.cell-4 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 16.666666666666668%;
    flex: 0 0 16.666666666666668%;
    max-width: 16.666666666666668%;
}

.flex-5,
.colspan-5,
.cell-5 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 20.833333333333336%;
    flex: 0 0 20.833333333333336%;
    max-width: 20.833333333333336%;
}

.flex-6,
.colspan-6,
.cell-6 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 25.000000000000004%;
    flex: 0 0 25.000000000000004%;
    max-width: 25.000000000000004%;
}

.flex-7,
.colspan-7,
.cell-7 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 29.16666666666667%;
    flex: 0 0 29.16666666666667%;
    max-width: 29.16666666666667%;
}

.flex-8,
.colspan-8,
.cell-8 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 33.333333333333336%;
    flex: 0 0 33.333333333333336%;
    max-width: 33.333333333333336%;
}

.flex-9,
.colspan-9,
.cell-9 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 37.5%;
    flex: 0 0 37.5%;
    max-width: 37.5%;
}

.flex-10,
.colspan-10,
.cell-10 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 41.666666666666664%;
    flex: 0 0 41.666666666666664%;
    max-width: 41.666666666666664%;
}

.flex-11,
.colspan-11,
.cell-11 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 45.83333333333333%;
    flex: 0 0 45.83333333333333%;
    max-width: 45.83333333333333%;
}

.flex-12,
.colspan-12,
.cell-12 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 49.99999999999999%;
    flex: 0 0 49.99999999999999%;
    max-width: 49.99999999999999%;
}

.flex-13,
.colspan-13,
.cell-13 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 54.16666666666666%;
    flex: 0 0 54.16666666666666%;
    max-width: 54.16666666666666%;
}

.flex-14,
.colspan-14,
.cell-14 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 58.33333333333332%;
    flex: 0 0 58.33333333333332%;
    max-width: 58.33333333333332%;
}

.flex-15,
.colspan-15,
.cell-15 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 62.499999999999986%;
    flex: 0 0 62.499999999999986%;
    max-width: 62.499999999999986%;
}

.flex-16,
.colspan-16,
.cell-16 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 66.66666666666666%;
    flex: 0 0 66.66666666666666%;
    max-width: 66.66666666666666%;
}

.flex-17,
.colspan-17,
.cell-17 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 70.83333333333333%;
    flex: 0 0 70.83333333333333%;
    max-width: 70.83333333333333%;
}

.flex-18,
.colspan-18,
.cell-18 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.flex-19,
.colspan-19,
.cell-19 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 79.16666666666667%;
    flex: 0 0 79.16666666666667%;
    max-width: 79.16666666666667%;
}

.flex-20,
.colspan-20,
.cell-20 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 83.33333333333334%;
    flex: 0 0 83.33333333333334%;
    max-width: 83.33333333333334%;
}

.flex-21,
.colspan-21,
.cell-21 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 87.50000000000001%;
    flex: 0 0 87.50000000000001%;
    max-width: 87.50000000000001%;
}

.flex-22,
.colspan-22,
.cell-22 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 91.66666666666669%;
    flex: 0 0 91.66666666666669%;
    max-width: 91.66666666666669%;
}

.flex-23,
.colspan-23,
.cell-23 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 95.83333333333336%;
    flex: 0 0 95.83333333333336%;
    max-width: 95.83333333333336%;
}

.flex-24,
.colspan-24,
.cell-24 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -ms-flex: 0 0 100.00000000000003%;
    flex: 0 0 100.00000000000003%;
    max-width: 100.00000000000003%;
}

.offset-0 {
    margin-left: 1%;
}

.offset-1 {
    margin-left: 4.166666666666667%;
}

.offset-2 {
    margin-left: 8.333333333333334%;
}

.offset-3 {
    margin-left: 12.5%;
}

.offset-4 {
    margin-left: 16.666666666666668%;
}

.offset-5 {
    margin-left: 20.833333333333336%;
}

.offset-6 {
    margin-left: 25.000000000000004%;
}

.offset-7 {
    margin-left: 29.16666666666667%;
}

.offset-8 {
    margin-left: 33.333333333333336%;
}

.offset-9 {
    margin-left: 37.5%;
}

.offset-10 {
    margin-left: 41.666666666666664%;
}

.offset-11 {
    margin-left: 45.83333333333333%;
}

.offset-12 {
    margin-left: 49.99999999999999%;
}

.offset-13 {
    margin-left: 54.16666666666666%;
}

.offset-14 {
    margin-left: 58.33333333333332%;
}

.offset-15 {
    margin-left: 62.499999999999986%;
}

.offset-16 {
    margin-left: 66.66666666666666%;
}

.offset-17 {
    margin-left: 70.83333333333333%;
}

.offset-18 {
    margin-left: 75%;
}

.offset-19 {
    margin-left: 79.16666666666667%;
}

.offset-20 {
    margin-left: 83.33333333333334%;
}

.offset-21 {
    margin-left: 87.50000000000001%;
}

.offset-22 {
    margin-left: 91.66666666666669%;
}

.offset-23 {
    margin-left: 95.83333333333336%;
}

.offset-24 {
    margin-left: 100%;
}

.mt-1 {
    margin-top: 4px;
}

.mt-2 {
    margin-top: 8px;
}

.mt-3 {
    margin-top: 12px;
}

.mt-4 {
    margin-top: 16px;
}

.mt-5 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 50px;
}

.mt-12 {
    margin-top: 75px;
}

.mt-13 {
    margin-top: 105px;
}

.mt-15 {
    margin-top: 120px;
}

.mb-1 {
    margin-bottom: 4px;
}

.mb-2 {
    margin-bottom: 8px;
}

.mb-3 {
    margin-bottom: 12px;
}

.mb-4 {
    margin-bottom: 16px;
}

.mb-5 {
    margin-bottom: 20px;
}

.push-left {
    float: left;
}

.push-right {
    float: right;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 90;
}

.btn-primary {
    height: 35px;
    width: 100%;
    min-width: 0;
    text-align: center;
    font-size: 16px;
    background-color: #fff;
    color: #0DB14B;
    border-color: rgba(11, 230, 84, 0.45);
}

.btn-primary:hover {
    background-color: #666666;
    color: white;
}


.btn-primary[disabled] {
    cursor: not-allowed;
    background-color: #fff;
    color: #c4c4c4;
}

.main-container {
    display: grid;
    padding: 0;
    grid-template-areas: 'header header header header header header'
                         'menu main main main main main';
    grid-template-columns: 210px auto;
    grid-template-rows: 75px auto;
    grid-gap: 1px;
    height: 100vh;
}

.main-container .header {
    grid-area: header;
    background-image: url("../assets/images/ucpb_logo.jpg");
    background-size: auto 60px;
    background-repeat: no-repeat;
    background-position-x: 37px;
    background-position-y: center;
    border-bottom: 1px solid #0DB14B;
    box-shadow: 0 4px 2px -2px #666666;
    background-color: #fff;
    z-index: 2;
}

.main-container .menu {
    grid-area: menu;
    max-width: 210px;
    min-width: 210px;
    padding: 10px 10px 0;
}

.main-container .main {
    grid-area: main;
    margin-top: 5px;
    margin-bottom: 0;
    overflow: auto;
}

.main-container .main::-webkit-scrollbar {
    width: 12px;
}

.main-container .main::-webkit-scrollbar-thumb {
    width: 12px;
    background-color: #c4c4c4;
}

.main-container .main::-webkit-scrollbar-thumb:hover {
    background-color: #888;
}

/*header*/
.header h1 {
    margin: 15px 15px 9px 15px;
    text-align: center;
    color: #0DB14B;
    font-weight: bold;
    line-height: 1.1;
    font-size: 20pt;
}

#app-header-nav {
    display: grid;
    grid-template-areas: 'app-user-details';
}

#app-user-details {
    justify-self: right;
    font-size: 11.5pt;
    margin-right: 10px;
    cursor: default;
    font-weight: bold;
}

#app-user-details #app-logout,
#app-user-details #app-user-name {
    color: #0DB14B;
    cursor: pointer;
}

#app-user-details #app-user-name:before,
#app-user-details #app-date-time:before,
#app-user-details #app-development:before,
#app-user-details #app-logout:before {
    content: " | ";
    color: #aaa;
}

#app-header-nav h2, #app-header-nav p {
    margin: 0;
    padding: 0;
}

#SessionModal .modal-dialog,
#ExpiredModal .modal-dialog {
    width: 400px;
    margin: 2.5rem auto;
}
