.todo-input {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-input input {
  flex-grow: 1;
  height: 40px;
  padding: 0 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.add-button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  height: 40px;
  width: 80px;
  border-radius: 4px;
  background-color: #5cb85c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.disabled {
  background-color: lightgrey;
  cursor: not-allowed;
  color: black;
  font-weight: normal;
}
